*{
	margin:0;
	border:none;
}

.btn-default{
	width:100%;
	font-size: 24px;
}
.span6>h1{
	text-align:center;
	color:blue;
}

.span6>h2{
	text-align:center;
	color:red;
}

.span6>h4{
	color:gray;
	font-family:'SolaimanLipi';
	line-height: 30px;
}


.span6>img{
	width:100%;
	height:auto;
}

marquee{
	color:red;
	line-height:40px;
}

